*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

body{
    background: white;
    
}

.header{
    display: flex;
    flex-direction: column;
    background: #e4dada;
}

.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 30px;
}

.left-box{

}

.logo{
    cursor: pointer;
    width: 120px;

}

.middle-box{
}

.search{
    width: 700px;
    height: 40px;
    border-radius: 50px;
    padding-left: 20px;
    border: 1px solid;
}

.right-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 90px;
}

.location{  
    display: flex;
    flex-direction: row;
    border: none;
    background: none;
    cursor: pointer;
}

.cart{
    display: flex;
    flex-direction: row;
    color: black;

}

.login{
    display: flex;
    color: black;
}


.all-nav{
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 3px 100px 10px 30px;
}

.nav-a{
    color: black;
}


.img-showing{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.img-h{display: flex;
    cursor: pointer;
    padding: 20px;
    width: 90vw;
    border-radius: 50px;
    position: relative;
}

.get{
    color: white;
}
.aa { background: white;
color: #000;
padding: 8px;
border-radius: 50px;
border: 1px solid;
position: absolute;
bottom: 20%;
}

.img-categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
    gap: 10px;

}
.img-c{
    width: 300px;
    padding-left: 15px;

}


.container{
    display: flex;
    position: relative;
    padding-left: 30px;
}

.img-p{
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    position: absolute;
    bottom: 30px;
    right: 10px;
}


.categories{
    padding-left: 55px;
    padding-top: 30px;
}
.description{
    display: flex;
    padding:15px 45px;
    position: relative;
    background: rgb(248, 242, 231);
    border-radius: 20px;
}

.details{
    background: black;
    border-radius: 50px;
    width: 40%;
    padding: 10px;
    border: 2px solid;
    color: white;

}
.d-img{ display: flex;
    width: 45%;
}

.list-d{
    display: flex;
    flex-direction: column;
    padding: 15px 70px;
    gap: 30px;
}

.shop-img{
    width: 250px;
    height: 150px;
    padding-left: 15px;
    padding: 5px;
    border-radius: 40px;
    background: #181a19;
}

.shop-b{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:15px;


}
.shop{
    padding-left: 30px;
    padding-top: 20px;
    
}

.shop-t{
    font-size: 20px;
    padding: 20px;
}


.p-img{
    width: 410px;
    border-radius: 35px;
}

.promotion{
    display: block;
}


.all-p{
    line-height: 40px;
}

.h-p{
    padding: 30px;
    font-size: 20px;
}

.img-promo{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    padding-left: 35px;
}


.text-p{
    font-size: 20px;
    width: 400px;
}
.p-promo{
    background-color: black;
    font-size: 17px;
    color: white;
    border-radius: 50px;
    width: 110px;
    padding: 2px;
    justify-content: center;
}

 .after-p{
    width: 49%;
    padding: 20px;
    border-radius: 35px;
 }

  .after-pp{
    padding: 15px 30px;
    justify-content: center;

  }

    .cart{
        display: block;
        padding: 30px;
    }
   
    .cart-e{
        display: flex;
        flex-wrap: wrap;
        padding: 15px 10px;
        gap: 18px;
        justify-content: space-between;

        
    }

      .cart-s{
        width: 150px;
        

      }

    .cart-img{
        width: 150px;
        height: 100px;
    }

    .cart-p{
        font-size: 15px;
        padding-bottom: 15px;
    }

    .add-c{
        background: black;
        color: #ffffff;
        padding: 10px;
        border-radius: 50px;
        align-items: center;
    }

    .footer{
        display: flex;
        flex-direction: row;
        background: #e4dada;
        padding: 20px;
    }
   
     .fade{
        display: flex;
        padding: 20px;
        font-size:18px ;
        width: 85%;
        justify-content: space-between;
     }

.foot{
    column-gap: 30px;
    font-size: 20px;
}

@media (max-width:600px) {
    .all-nav, .right-box{
     display: none;
    }
    .shop{
        padding:15px ;
    }

    .img-h, .img-showing{
        width: 90vw;
        justify-content: center;
        align-content:center;
        
    }

    .shop-b{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .img-c{
        width:220px;
    }

    .shop-img{
        width: 200px;
    }

     .heading{
        padding: 0;
     }

     .aa{
        width: 700px;
     }

     .description{
        padding: 15px;

     }

     .details{
        width: 170px;
    
    }
    .d-img{
        width: 300px;
    }
   
}



@media (max-width:1300px) {
    .all-nav, .right-box, .middle-box{
     display: none;
     
    }
    .details{
        width: 170px;
}

.img-c{
    width:220px;
}

.shop-img{
    width: 250px;
}
}